footer{
    min-height: 50px;
    background-color: rgb(168, 122, 52);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .redes{
        a{
            color: black;
            &:hover{
                color: white;
            }
        }
        .fa-brands{
            padding: 10px;
            font-size: 30px;
        }
    }
}

@media (max-width: 800px){
    footer{
        flex-direction: column-reverse;
        text-align: center;
        .redes{
            padding-bottom: 10px;
        }
    }
}