.headerIndex{
    background-image:url(/assets/img/fondo-index2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    h1{
        color: white;
        font-size: 70px;
        text-align: center;
        font-style: italic;
    }
    p{
        color: white;
        font-size: 35px;
        text-align: center;
    }
    .btn{
        border: 0 solid black;
        background-color: rgb(168, 122, 52);
        padding: 10px 20px;
        border-radius: 50px;
        color: white;
        text-decoration: none;
        margin-top: 70px;
    }
}

// Adaptabción para pantallas pequeñas
