.mainIndex{
    background-color: rgb(235, 215, 215);
    padding: 10px;
    .tarjetas{
        display: flex;
        justify-content: center;
    }
        .tarjeta1{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 10px;
            img{
                width: 450px;
                height: 250px;
            }
            .tarjeta1-nosotros{
                width: 450px;
                height: 250px;
            }
            p{
                text-align: justify;
                padding-top: 10px;
            }
        } 
}

// Adaptado para pantallas pequeñas

@media (max-width: 500px){
    .mainIndex{
        img{
            max-width: 350px;
            height: 250px;
            padding: 10px;
        }
        .imagen3{
            min-width: 350px;
        }
        .tarjeta1-nosotros{
            max-width: 350px;
            min-height: 300px;
        }
    }
}