.mainIndex{
    background-color: rgb(235, 215, 215);
    padding: 10px;
    .tarjetas{
        display: flex;
        justify-content: center;
    }
        .tarjeta1{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 30px;
            padding: 10px;
            img{
                width: 450px;
                height: 250px;
            }
            .tarjeta1-nosotros{
                width: 450px;
                height: 250px;
            }
            p{
                text-align: justify;
                padding-top: 10px;
            }
        } 
}

// Adaptado para pantallas pequeñas

@media (max-width: 1000px){
}