.mainEventos{
    background-color: rgb(235, 215, 215);
    padding: 10px;
    .contenedor{
        .card{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 10px;

            .texto{
                width: 450px;
                height: 250px;
                text-align: justify;
                padding: 10px;
                p{
                    padding-top: 10px;
                }
            }
            img{
                width: 450px;
                height: 250px;
            }
        }
    }
}

@media (max-width: 500px){
    .mainEventos{
        img{
            max-width: 350px;
            height: 250px;
            padding: 10px;
        }
        .texto{
            max-width: 350px;
            min-height: 310px;
        }
    }
}